.productInfoGrid{
<<<<<<< HEAD
    margin-left: 0px !important;
    margin-right: 0px !important;
=======
    
>>>>>>> origin/master
    margin-top:75px !important;
    margin-bottom: 10px !important;
    
}