body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #a8ff78;  /* fallback for old browsers */
/*
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  
background: linear-gradient(to right, #78ffd6, #a8ff78); 
*/
background: linear-gradient(to right,rgb(63, 63, 104),rgb(14, 14, 18));
  opacity: 0.9;
  height: 100%;
  overflow-x:hidden !important;
}

.ui .header{
  font-family: 'Poppins sans-serif';
}

.ui .button{
  font-family: 'Poppins sans-serif';
}
label{
  width: 30% !important;
}

html,body{
  height: auto !important;
 
}

.large.text{
  font-size: 48px !important;
}

.medium.text{
  font-size: 32px !important;
}

.small.text{
  font-size: 16px !important;
}










