/* h1{
    text-align: center;
    color:#DFCFBE;
    margin-top: 100px;
    
} */

.Segment{
    margin:150px auto !important;
    width:24em
}

.Button{
    margin: auto !important;
    display: block !important;
}




