
.gridColumn{
    margin-bottom: 10px !important;
}

.landingHeader{
    text-align: center;
    color:teal !important;
    font-size: 48px !important;
}

.example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 2s ease-in;
  }

  .LandingGrid{
    /* background-image: url('../../assets/Background/landing-background.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    height: 100%;
    margin:0px !important
   
  }

