.imageStyle{
    height: 250px !important;
}

.gridColumn{
    margin-bottom: 10px !important;
}

.landingHeader{
    text-align: center;
    color:teal !important;
}

.example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 2s ease-in;
  }


  
  

  