
.header{
    text-align: center;
    color:#DFCFBE;
    margin-top: 100px;
    
}

.Button{
    margin:auto !important;
    display:block !important
}

.LoginSegment{
    margin:200px auto 50px auto !important ;
    
    width:24em !important;
    min-height: 60vh;
    
}





