
.header{
    text-align: center;
    color:#DFCFBE;
    margin-top: 100px;
    
}

.Button{
    margin:auto !important;
    display:block !important
}

.Segment{
    margin:200px auto !important ;
    width:26em !important
    
}





