
.header{
    text-align: center;
    color:#DFCFBE;
    margin-top: 100px;
    
}

.Button{
    margin:auto !important;
    display:block !important
}

<<<<<<< HEAD
.LoginSegment{
    margin:200px auto !important ;
    width:24em !important
=======
.Segment{
    margin:200px auto !important ;
    width:26em !important
>>>>>>> origin/master
    
}





