.userImage{
padding: 10px 0px;
width: 100%;
}

.profileGrid{
    margin-top:70px !important;
    margin-bottom: 10px !important;
<<<<<<< HEAD
    margin-left: 0px !important;
    margin-right: 0px !important;
=======
>>>>>>> origin/master
  
   
}

.profileImgCard{
    margin:10px auto !important;
    
}

.profileButton{
    margin:10px auto !important;
    display:block !important;
    width:'20%' !important;
}

.profileSegment{
    width: 95%;
    margin: 9px auto !important
}

.profileContainer1{
    padding-bottom:100px;
}

.profileContainer2{
    padding-bottom:20px;
}

.profileContent{
    text-align: justify;
}
.rowPadding{
    padding: 0px !important;
}